In [1]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [3]:
list1 = () #if you try create a empty list you should not to use syntax like this bcs it consider it has a tuple
list1

()

In [5]:
type(list1)

tuple

In [7]:
list1 = list() #this is the way to create a empty list
type(list1)

list

In [15]:
list1 = [1,2,3,4]
list2 = ['A','B','C','D'] # D is max based on the ascii value
list3 = [1,2,3,4,'A','B','C','D']
print(max(list1))
print(max(list2))
# max(list3)
#you cant compare different data types in list3

4
D

In [17]:
print(len(list1))
print(len(list2))
print(len(list3))

4
4
8

In [19]:
sum(list1)

10

In [21]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
list1 = [[[[['cherry']]]]]
list1[0][0][0][0][0]

'cherry'

In [55]:
list3 = [[[['A','B',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

In [57]:
li=[1,2,3,4]
li[0]=20
li

[20, 2, 3, 4]

In [59]:
li

[20, 2, 3, 4]

In [65]:
li=['welcome']
li[0][2] = 'L'

TypeError: 'str' object does not support item assignment

In [2]:
# i have a list like list1=[1,2,3,4,5] now i want to create another list list2 that holds square of list1
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [4]:
city_lower=['hyd','bengaluru','delhi']
# expected output is : output=['Hyd','Bengaluru','Delhi']
output=[]
for i in city_lower:
    output.append(i.capitalize())
print(output)

['Hyd', 'Bengaluru', 'Delhi']

In [10]:
#another approach of me for the above code
output.clear()
for i in city_lower:
    if i[0].islower():
        output.append(i[0].upper()+i[1:])
print(output)

['Hyd', 'Bengaluru', 'Delhi']

In [12]:
cp = output.copy()
print(cp)

['Hyd', 'Bengaluru', 'Delhi']

In [2]:
# create a list of 20 numbers 1 to 20
num_list=[]
for i in range(1,21):
    num_list.append(i)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
#applying list comprehension for same problem above
num_list.clear()
num_list=[i for i in range(1,21)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
#Q2 Using list comprehension
list4 = ['abcd','abc','ab','a']
output = [i for i in list4 if len(i)<3]
print(output)

['ab', 'a']

In [12]:
# odd and even using list comprehensation
numbers=[1,2,3,4,5,6]
output = ['even:{}'.format(i) if i%2 == 0 else 'odd:{}'.format(i) for i in numbers]
print(output)

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [14]:
val = reversed("python")
print(val)

<reversed object at 0x00000288D0DCCAC0>

In [16]:
list1 = [100,200,300,100]
print(list1.index(100))

0

In [20]:
list1.insert(3,500)
print(list1)

[100, 200, 500, 500, 300, 100]

In [22]:
list1.sort()

In [24]:
print(list1)

[100, 100, 200, 300, 500, 500]

In [26]:
list1.remove(500)

In [28]:
list1

[100, 100, 200, 300, 500]

In [30]:
list1.remove(100)

In [32]:
list1

[100, 200, 300, 500]

In [34]:
sort_list = reversed(list1)
for i in sort_list:
    print(i,end=" ")

500 300 200 100

In [36]:
print(sort_list)

<list_reverseiterator object at 0x00000288D20028C0>

In [38]:
list1 = ['a','b','c','b']
print(list1.index('a'))

0

In [40]:
print(list1.index('a',list1.index('a')+1))

ValueError: 'a' is not in list

In [42]:
print(list1.index('b',list1.index('b')+1))

3

In [44]:
list1 = ['Ram','Robert','Raheem']
list2 = [25,30,35]
#expected output is 
#'Ram age is 25'
#'Robert age is 30'
#'Raheem age is 35'
#-lets dive with the logic
list3 = ["{} age is {}".format(list1[i],list2[i]) for i in range(len(list1))]
for i in list3:
    print(i)

Ram age is 25
Robert age is 30
Raheem age is 35

In [50]:
list1 = [100,200,300]
list2 = [25,30,35]
#expected output is output=[125,230,300]
#lets dive with the logic using list comprehension
output = [i+j for i,j in zip(list1,list2)]
print(output)

[125, 230, 335]

In [14]:
#print the prime numbers between 20 and 100 in a list
# def is_prime(num):
#     count=0
#     if num<=1:
#         return False
#     else:
#         for i in range(2,(num//2)+1):
#             if num%i==0:
#                 count+=1
#         if(count>0):
#             return False
#         else:
#             return True
                
prime_numbers=[]

for i in range(20,101):
    count = 0
    for j in range(2,(i//2)+1):
        if(i % j==0):
            count+=1
    if(count==0):
        prime_numbers.append(i)
            
print("Prime numbers between 20 and 100")
print(prime_numbers)
#you can do using nested for loop or functions

Prime numbers between 20 and 100
[23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [58]:
print((23//2)+1)

12

In [16]:
#max in array
arr = [100,200,150]
max_value=0
for i in arr:
    if i>max_value:
        max_value = i
print(max_value)

200

In [62]:
# list1 = [10,20,30,50,40,30,20] this is pattern intial increasing and 
# from one specifed started to decrease if they give any list1 if
#the pattern matching return true else false not matching
#lets dive the logic
list1 = [10,20,50,30,20,10]
value=list1[0]
con=True
for i in range(1,len(list1)):
    if(con == False):
        break
    if list1[i]>value:
        value=list1[i]
    else:
        value=list1[i]
        for j in range(i+1,len(list1)):
            if(value>list1[j]):
                con=True
            else:
                con=False
                break
    
if(con):
    print("The pattern is matching")
    print(list1)
else:
    print("No The pattern is not matching")
    print(list1)

The pattern is matching
[10, 20, 50, 30, 20, 10]

In [72]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [90]:
for i in d1:
    print(i,'age is :',d1[i])

Ram age is : 25
Raheem age is : 30
Robert age is : 35

In [150]:
# create a dictionary using 2 lists
list1 = ['Ram','Robert','Raheem']
list2 = [25,30,35]
d1={}
d1={i:j for i,j in zip(list1,list2)}
    
d1

{'Ram': 25, 'Robert': 30, 'Raheem': 35}

In [172]:
# wap take 5 random numbers 
# create a dictionary with even and odd
#lets dive with the logic
import random
even=[]
odd=[]
d1={}
for i in range(5):
    num=random.randint(1,5)
    if(num%2==0):
        even.append(num)
    else:
        odd.append(num)

d1['even']=even
d1['odd']=odd
print(d1)

{'even': [2, 4, 2], 'odd': [3, 5]}

In [174]:
import os
os.getcwd()

'C:\\Users\\v maruthi\\OneDrive\\Desktop\\DataScience(my carrer)'